extends layout.pug

block content
    h1 Sales Countdown
    .wrapper
        section.content
            .sales_number
                .sales_number_content 
                    p.title Orderintake YTD
                    p.number € 6.990.380
            .sales_number 
                .sales_number_content 
                    p.title Q4 Target
                    p.number € 3.880.021
            .sales_number 
                .sales_number_content 
                    p.title Q4 intake
                    p.number € 734.807
            .sales_number 
                .sales_number_content 
                    p.title To Go
                    p.number.negative € 3.145.214
