@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&family=Montserrat:ital,wght@1,100;1,200;1,300&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Open+Sans:wght@300;400;700&display=swap");

* {
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    background-color: #efeff0;
    margin: 0;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 54px;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0px;
}

h1 span {
    position: absolute;
    color: black;
    font-weight: normal;
    font-size: 28px;
    width: 100%;
    top: 80px;
    right: 0px;
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.wrapper form {
    width: 500px;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.sales_number {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 22%;
    height: calc(19vw);
    padding: 10px;
    box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.sales_number .title {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.sales_number .number {
    font-weight: bold;
    font-size: 26px;
    color: #00a4ff;
    position: relative;
}

.positive {
    color: #66cc99;
}

.negative {
    color: #c44d56 !important;
}

.number.positive {
    font-weight: bold;
}

.bottom {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weeknumber.full_width {
    width: 100%;
    margin-right: 0;
}

.weeknumber.lighter .title,
.weeknumber.lighter .number {
    color: #6c7a89;
    font-size: 18px;
}

.bottom .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
}

.bottom .number {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

.bottom span {
    color: #6c7a89;
    font-size: 13px;
}

.navigation {
    position: fixed;
    top: 20px;
    right: 10px;
}

.navigation a {
    background: #392e4a;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}

.section form {
    display: flex;
}
